<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="list"></ion-back-button>

    </ion-buttons>
    <ion-title> Movie Details</ion-title>
    <ion-button slot="end" (click)="deleteStudent()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="http://www.auroracl.com/template/resources/images/news/quote1494914715.png" height="250px" />
    <ion-card-header>
      <ion-card-title>{{singleMovie?.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{singleMovie?.id}}
    </ion-card-content>
  </ion-card>
</ion-content>